# ----------------------------------
# Data, Backups
# ----------------------------------
*~
*.bak
*.swp
*.dat
*.root
*.log
*.pdf
*.csv

# ----------------------------------
# Compression
# ----------------------------------
*.zip
*.tar
*.tar.xz
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar

# ----------------------------------
# Images
# ----------------------------------
*.jpg
*.jpeg
*.gif
*.png
*.svg
*.ico

# ----------------------------------
# IDE Settigs
# ----------------------------------
*.idea

# ----------------------------------
# Python
# ----------------------------------
*.npy
*.npz
*.pyc
*.pyo
*.pickle
*.pkl

# ----------------------------------
# Saved Models and Checkpoints
# ----------------------------------
*.h5
*.ckpt
.ipynb_checkpoints
.virtual_documents
__pycache__
*.sif
logs
data
data_sets
train_quick
train_all
run_*
run
lightning_logs
lightning_models
tutorials
gnn4itk
ray_tune


